@import url(./fonts.css);

.main-bg img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

body {
    font-family: 'Pokemon Hollow', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
